*, *::after{
  border-sizing: border-box;
}
body{
  background-color: #6a6a6a;
  width: 85%;
  margin: auto;
  color: green;
}
.title-text{
  text-align: center;
  color: #CCC;
  border: 2px solid;
  padding: 5px;
}
.intro {
  background-color: #CCC;
  padding: 0 0 25px 0;
  border: 2px solid #CCC;
  margin: 20px 10% 20px 10%;
  display: inline-block;
}
.intro-text {
  width: 80%;
  padding: 0 10% 0 10%;
  text-align: center;
  float: center;
  color:black;
}
.intro::after {
  content: "";
  clear: both;
  display: table;
}
.text1 {
  background-color: #CCC;
  padding: 0 0 25px 0;
  border: 2px solid #CCC;
  margin: 20px 0 20px 0;
  display: inline-block;
}
.text1-text {
  width: 15%;
  float: left;
  padding-right: 5%;
  padding-left: 20px;
  color:black;
}
.text1-image {
  width: 60%;
  float: left;
  padding-right: 60px;
  padding-top: 40px;
}
.text1::after {
  content: "";
  clear: both;
  display: table;
}
.text2 {
  background-color: #CCC;
  padding: 0 0 25px 0;
  border: 2px solid #CCC;
  margin: 20px 0 20px 0;
  display: inline-block;
}
.text2-text {
  width: 15%;
  float: right;
  padding-right: 20px;
  padding-left: 5%;
  color:black;
}
.text2-image {
  width: 60%;
  float: left;
  padding-left: 40px;
  padding-top: 60px;
}
.text2::after {
  content: "";
  clear: both;
  display: table;
}
.text3 {
  background-color: #CCC;
  padding: 0 0 25px 0;
  border: 2px solid #CCC;
  margin: 20px 0 20px 0;
  display: inline-block;
}
.text3-text {
  width: 15%;
  float: left;
  padding-right: 5%;
  padding-left: 20px;
  color:black;
}
.text3-image {
  width: 60%;
  float: left;
  padding-right: 60px;
  padding-top: 40px;
}
.text3::after {
  content: "";
  clear: both;
  display: table;
}
.text4 {
  background-color: #CCC;
  padding: 0 0 25px 0;
  border: 2px solid #CCC;
  margin: 20px 0 20px 0;
  display: inline-block;
}
.text4-text {
  width: 15%;
  float: right;
  padding-right: 20px;
  padding-left: 5%;
  color:black;
}
.text4-image {
  width: 60%;
  float: left;
  padding-left: 40px;
  padding-top: 60px;
}
.text4::after {
  content: "";
  clear: both;
  display: table;
}
.text5 {
  background-color: #CCC;
  padding: 0 0 25px 0;
  border: 2px solid #CCC;
  margin: 20px 0 20px 0;
  display: inline-block;
}
.text5-text {
  width: 15%;
  float: left;
  padding-right: 5%;
  padding-left: 20px;
  color:black;
}
.text5-image {
  width: 60%;
  float: left;
  padding-right: 60px;
  padding-top: 40px;
}
.text5::after {
  content: "";
  clear: both;
  display: table;
}
